html, body {
    padding: 0;
    margin: 0;
    background-color: azure;
}

#logo {
    background-color: red;
    width: 1720px;
    height: 200px;
    margin: auto;
}
#mc {
    display: block;
    margin: auto;
    padding: 0;
    width: 1720px;
    height: 780px;
}
#menu {
    display: inline-block;
    background-color: aquamarine;
    width: 500px;
    height: 780px;
    margin: 0;
    padding: 0;
    
}
#content {
    display: inline-block;
    background-color: bisque;
    width: 1220px;
    height: 780px;
    margin: 0;
    padding: 0;
}
#footer {
    background-color: palegreen;
    width: 1720px;
    height: 100px;
    margin: auto;
}
#logo, #mc, #footer {
    text-align: center;
}