* {
    font-family: 'Courier New', Courier, monospace !important;
    color: rgb(196, 255, 186) !important;
}

body {
    background-color: #111;
    margin: 0;
    padding: 0;
    min-height: 100vh;

    animation-duration: 0.01s;
    animation-name: textflicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes textflicker {
    from {
      text-shadow: 1px 0 0 #ea36af, -2px 0 0 #00c3ff;
    }
    to {
      text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #00c3ff;
    }
  }