html, body {
    padding: 0;
    margin: 0;
    background-color: azure;
}
#logo {
    background-color: red;
    width: 80%;
    height: 15vh;
    margin: auto;
}
#mc {
    display: block;
    margin: auto;
    padding: 0;
}
#menu {
    display: inline-block;
    background-color: aquamarine;
    width: 20%;
    height: 80vh;
    margin: 0;
    padding: 0;
}
#content {
    display: inline-block;
    background-color: bisque;
    width: 40%;
    height: 80vh;
    margin: 0;
    padding: 0;
}
#ad {
    display: inline-block;
    background-color: yellow;
    width: 20%;
    height: 80vh;
    margin: 0;
    padding: 0;
}
#footer {
    background-color: palegreen;
    width: 80%;
    height: 5vh;
    margin: auto;
}
#logo, #mc, #footer {
    text-align: center;
}